{% extends "RssRecommendBundle::layout.html.twig" %}

{% block title %}RSS拡張システムホーム画面 | {{ parent() }}{% endblock %}

{% block content %}
    <ul>
        <li>ユーザ名: {{ loginUser.userName }}</li>
        <li>メールアドレス: {{ loginUser.mailAddress }}</li>
        <li>Twitterアカウント: {{ loginUser.twitterAccount }}</li>
        <li>パスワード: {{ loginUser.password }}</li>
    </ul>
    {{ form_start(form, {'method': 'post', 'action': path("rss_recommend_home_post") }) }}
        {{ form_row(form.url) }}
        {{ form_row(form.group.url_group) }}
        {{ form_row(form.synonym[0].synonym) }}
        {% if form.synonym|length >= 2 %}
            {{ form_row(form.synonym[1].synonym, {'label': '類義語(カンマ区切り)'}) }}
        {% endif %}
        <input type="button" class="submit" name="synonym_submit" value="類語検索" data-action="{{ path("rss_recommend_synonym") }}">
        <input type="button" class="submit" name="add_url_submit" value="新規監視登録" data-action="{{ path("rss_recommend_home_post") }}">
    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}
